<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartteachingsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".view.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTeachingSystem">
        <activity android:name=".view.ui.teacherNote.TeacherNote"
            android:parentActivityName=".view.ui.teacherHome.TeacherHome"/>
        <activity
            android:name=".view.ui.profileTeacher.ProfileTeacher"
            android:parentActivityName=".view.ui.teacherHome.TeacherHome" />
        <activity
            android:name=".view.ui.profileStudent.ProfileStudent"
            android:parentActivityName=".view.ui.studentHome.StudentHome" />
        <activity
            android:name=".view.ui.studentAppointment.StudentAppointment"
            android:parentActivityName=".view.ui.teacherList.TeacherList" />
        <activity
            android:name=".view.ui.teacherEdit.TeacherEditProfile"
            android:parentActivityName=".view.ui.profileTeacher.ProfileTeacher" />
        <activity
            android:name=".view.ui.teacherAppointment.TeacherAppointment"
            android:parentActivityName=".view.ui.teacherHome.TeacherHome" />
        <activity android:name=".view.ui.teacherHome.TeacherHome" />
        <activity
            android:name=".view.ui.teacherList.TeacherList"
            android:parentActivityName=".view.ui.studentHome.StudentHome" />
        <activity
            android:name=".view.ui.studentEdit.StudentEditProfile"
            android:parentActivityName=".view.ui.profileStudent.ProfileStudent" />
        <activity android:name=".view.ui.studentHome.StudentHome" />
        <activity android:name=".view.ui.teacherRegister.TeacherRegister" />
        <activity android:name=".view.ui.studentRegister.StudentRegister" />
        <activity android:name=".view.ui.register.RegisterActivity" />
        <activity android:name=".view.ui.account.AccountActivity" />
        <activity
            android:name=".view.ui.splash.SplashActivity"
            android:theme="@style/AppLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.login.LoginActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".view.notification.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".view.notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>